---
layout: default
---
<div class="container">
	<header class="clearfix">
		<h1>{{ site.name }}</h1>


<a href="https://github.com/mine-cetinkaya-rundel" target="_blank"><img style="position: absolute; top: 20; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

	</header>

	<div id="intro" class="intro">

Statistics education apps created in <a href="http://www.rstudio.com/shiny/" target="_blank">Shiny</a>. Source code available on <a href="https://github.com/ShinyEd/ShinyEd" target="_blank">GitHub</a>.
<br><br>
Developed in collaboration with <a href="https://stat.duke.edu/people/brittany-cohen">Brittany Cohen</a>.
<br>

	</div>

	<div id="grid-gallery" class="grid-gallery">

	<section class="grid-wrap">
	<ul class="grid">
		<li class="grid-sizer"></li><!-- for Masonry column width -->
		{% for post in site.posts %}
		<li>
			<figure>
				<img src="{{ site.url }}/img/thumb/{{ post.photo }}" alt="img"/>
				<figcaption>
					<h3>{{ post.caption_header}}</h3>
					<p>{{ post.caption }}</p>
				</figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	</section><!-- // grid-wrap -->

	<section class="slideshow">
	<ul>
		{% for post in site.posts %}
		<li>
			<figure>
				<img src="{{ site.url }}/img/large/{{ post.photo }}" alt="img"/>
				<figcaption><h3>{{ post.caption_header}}</h3><p>{{ post.caption }}</p></figcaption>
			</figure>
		</li>
		{% endfor %}
	</ul>
	<nav>
		<span class="icon nav-prev"></span>
		<span class="icon nav-next"></span>
		<span class="icon nav-close"></span>
	</nav>
	<div class="info-keys icon">Navigate with arrow keys</div>
	</section><!-- // slideshow -->

	</div><!-- // grid-gallery -->
</div>